{% extends 'Main/base.html' %}
{% block content %}
{% load static %}
<div class="account-dashboard pt-100px pb-100px">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 col-md-3 col-lg-3">
              <!-- Nav tabs -->
              <div class="dashboard_tab_button" data-aos="fade-up" data-aos-delay="0">
                  <ul role="tablist" class="nav flex-column dashboard-list">
                      <li><a href="#dashboard" data-bs-toggle="tab" class="nav-link active">Dashboard</a></li>
                      <li> <a href="#orders" data-bs-toggle="tab" class="nav-link">Orders</a></li>
                      <li><a href="#address" data-bs-toggle="tab" class="nav-link">Addresses</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-sm-12 col-md-9 col-lg-9">
              <!-- Tab panes -->
              <div class="tab-content dashboard_content" data-aos="fade-up" data-aos-delay="200">
                  <div class="tab-pane fade show active" id="dashboard">
                    <h3>Account details </h3>
                    <button type="button" id="profile" style="color:#266bf9;">
                      Edit
                    </button> 
                    <div class="login">
                      <div class="login_form_container">
                        <div class="account_login_form">
                          <div class="col-lg-8">
                            <div class="card mb-4">
                              <div class="card-body">
                                <div class="row">
                                  <div class="col-sm-3">
                                     <p class="mb-0">Name</p>
                                  </div>
                                  <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{request.user.first_name}}  &nbsp;{{request.user.last_name}}</p>
                                  </div>
                                </div>
                                <hr>
                                <div class="row">
                                  <div class="col-sm-3">
                                    <p class="mb-0">Username</p>
                                  </div>
                                  <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{request.user.username}}</p>
                                  </div>
                                </div>
                                <hr>
                                <div class="row">
                                  <div class="col-sm-3">
                                    <p class="mb-0">Email</p>
                                  </div>
                                  <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{request.user.email}}</p>
                                  </div>
                                </div>
                                <hr>
                                <div class="row">
                                  <div class="col-sm-3">
                                    <p class="mb-0">Mobile</p>
                                  </div>
                                  <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{address.phone}}</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="orders">
                      <h4>Orders</h4>
                      {% if ordercount == 0 %}
                        <br>
                        <h6>No Orders Found</h6>
                      {% else %}
                      <div class="table_page table-responsive">
                        <table>
                          <thead>
                            <tr>
                              <th>Date</th>
                              <th>Image</th>
                              <th>Name</th>
                              <th>quantity</th>
                              <th>Total</th>
                              <th>Status</th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for i in order %}
                                <tr>
                                  <td>{{i.date}}</td>
                                  <td><img class="img-responsive ml-15px" src="{{i.image}}" alt="" /></td>
                                  <td>{{i.product}}</td>
                                  <td>{{i.quantity}}</td>
                                  <td>₹ {{i.total}} </td>
                                  <td><span class="success">{{i.status}}</span></td>
                                </tr>
                              {% endfor %}
                          </tbody>
                        </table>
                      </div>
                      {% endif %}
                  </div>
                  <div class="tab-pane" id="address">
                    <p>The following addresses will be used on the checkout page by default.</p>
                    <h5 class="billing-address">Billing address</h5>
                      <button type="button" id="address1" style="color:#266bf9;">
                          Edit
                      </button>
                    <p class="mb-2"><strong><strong>Name:</strong>   {{request.user.first_name}}  &nbsp;{{request.user.last_name}}</p>
                    <address>
                        <span class="mb-1 d-inline-block"><strong>City:</strong> {{address.town_city}}</span>
                        <br>
                      <span class="mb-1 d-inline-block"><strong>State:</strong> {{address.state}}</span>
                        <br>
                        <span class="mb-1 d-inline-block"><strong>Postal Code:</strong> {{address.postcode}}</span>
                    </address>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


<div class="modal fade" id="profilemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
        <button type="button" class="close" data-dismiss="modal" id="closeprofile" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <form action="" method="post" >
              {% csrf_token %}
              {% if Pform.non_field_errors %}
                {% for error in Pform.non_field_errors %}
                   <p>{{error}}</p>
                {% endfor %}
              {% endif %}
              {% for fm in Pform %}
                {{fm.label_tag}}{{fm}} {{fm.errors|striptags}}<br><br>
              {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" style="color:black";>Save changes</button>
      </div>
    </form>
    </div>
  </div>
</div>

<div class="modal fade" id="addressmodal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Address</h5>
        <button type="button" class="close" data-dismiss="modal" id="closeaddressform" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'account' %}" method="post" >
          {% csrf_token %}
              {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                   <p>{{error}}</p>
                {% endfor %}
              {% endif %}
              {% for fm in form %}
                {{fm.label_tag}}{{fm}} {{fm.errors|striptags}}<br><br>
              {% endfor %}
          <br><br>
          <button type="submit" class="btn btn-primary" style="color:black;float:right;">Save changes</button>
        </form>
      </div>
    </div>
  </div>
</div>





{% endblock %}
